* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/sky2.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Arvo', serif;
  overflow: hidden; }
  @media only screen and (max-width: 960px) {
    body {
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      display: block; } }

.weather h1 {
  font-size: 3.5rem;
  font-weight: 500; }

.weather h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0.5rem 0; }

.humidity,
.wind {
  font-size: 1.7rem;
  margin-top: -0.6rem; }
  @media only screen and (max-width: 960px) {
    .humidity,
    .wind {
      margin-top: 1rem;
      font-size: 1.4rem; } }

.error {
  text-align: left;
  margin-left: 1rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  display: none; }

.opener-main-title {
  font-size: 8rem;
  color: white; }
  @media only screen and (max-width: 960px) {
    .opener-main-title {
      font-size: 5rem; } }

.card {
  width: 90%;
  max-width: 40rem;
  background: linear-gradient(135deg, #f1dec996, #8d7b6894);
  color: #fff;
  margin: 1.5rem auto;
  border-radius: 2rem;
  padding: 3rem 2.5rem;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 1s; }
  @media only screen and (max-width: 960px) {
    .card {
      padding: 1.5rem 2rem;
      margin-top: 2.5rem; } }

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 2.5rem; }
  @media only screen and (max-width: 960px) {
    .details {
      margin-top: 4rem; } }

.col {
  display: flex;
  align-items: center;
  text-align: left; }
  .col img {
    width: 3rem;
    margin-right: 1rem; }

@media only screen and (max-width: 960px) {
  .col {
    display: flex;
    flex-direction: column; } }

.weather {
  display: none; }

.opener {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f1dec9, #8d7b68);
  overflow: hidden; }

.opener-content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 960px) {
    .opener-content {
      left: 10%; } }

.opener-btn {
  padding: 0.75rem 2rem;
  background: linear-gradient(135deg, #C8B6A6, #8d7b68);
  border: 0;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-left: 8rem;
  margin-top: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  cursor: pointer; }
  .opener-btn:hover {
    background: linear-gradient(135deg, #b9aa9d, #7a6b5a);
    transition: all 0.4s; }

@media only screen and (max-width: 960px) {
  .opener-btn {
    margin-left: 2.5rem; } }

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 1rem 2.5rem;
    height: 4rem;
    border-radius: 3rem;
    flex: 1;
    margin-right: 1.6rem;
    font-size: 1.5rem; }
  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer; }
  .search button img {
    width: 1.4rem; }

@media only screen and (max-width: 960px) {
  .search input {
    width: 30%;
    font-size: 1.2rem; } }

.weather-icon {
  width: 10rem;
  margin-top: 2rem; }
  @media only screen and (max-width: 960px) {
    .weather-icon {
      width: 8rem; } }
